<html>
    <head>
        <html>

<head>
	<meta charset="UTF-8">
	<meta name="description"
		content="This is the personal site of Helen Ffion, with photos and other things I'm interested in">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex, nofollow">
	<title>Weird Web October 2026</title>
	<link rel="stylesheet" href="https://unpkg.com/normalize.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style/weird-web.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;700&display=swap"
		rel="stylesheet">

        
<script type="text/javascript" src="{{ url_for('static', filename='scripts/wriggle.js') }}"></script>

	{% block style %}{% endblock %}
</head>
<body>

<header>
  <h1><w>Weird</w> Web October</h1>
  <p>I want to participate in <a href="https://weirdweboctober.website/">Weird Web October</a> this year.</p>
  <hr>
</header>
<main>
  <section>
<h3>Prompts</h3>
  <ol>
    <li><a href="{{ url_for('reveal') }}">Reveal</a></li>
  </ol>
    <hr>
  </section>
  <section>
    <h3>Resources and inspiration</h3>
    <ul>
      <li><a href="https://litter.leaflet.pub/3lzzdaq6hq22a">linklog #003 -
        silly websites now!</a></li>
      
      <li><a href="https://litter.leaflet.pub/3lzzdaq6hq22a">sweetfish.site weird web october</a></li>
      
      <li><a href="https://ribo.zone/weirdweb/">ribo.zone weird web october</a></li>
      <li><a href="https://amalinalai.github.io/htmlenergy/">lina's html energy page</a></li>
    </ul>
  </section>
    <section>
    <h3>Misc ideas</h3>
    <ul>
      <li><a href="https://twinpeaks.fandom.com/wiki/Blue_Rose">Blue rose case</a></li>
      <li><a href="https://www.reddit.com/r/PhilosophyMemes/comments/iqk156/best_illustration_of_baudrillards_theory/">Simulacria</a><li>
    </ul>
  </section>
</main>
<footer>

</footer>
</body>