{% extends './projects/weird_web_2026/weird_web_template.html' %}

{% block meta %}
<meta name="description" content="This is a site for weird web october 2026">
<title>Weird Web October 2026</title>
{% endblock %}

{% block style %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/wriggle.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/wriggle.css') }}">

{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<section>
  <h1>
    <w>Weird</w> Web October
  </h1>
  <p>I want to participate in <a href="https://weirdweboctober.website/">Weird Web October</a> this year.</p>
  <hr>
</section>
<section>
  <h3>Prompts</h3>
  <ol>
    <li><a href="{{ url_for('reveal') }}">Reveal</a></li>
    <details>
      <summary>
        Notes
      </summary>
      <p>Javascript from <a href="https://nuel.github.io/speak/demo">speak.js</a>.</p>
      <p>I'm currently reading Carol, by Patricia Highsmith. One of my favourite things about Highsmith's writing is how
        she articulates her character's inner thoughts so well. Here's a quote about her writing I like:</p>

      <p>"[Highsmith's] characters are irrational,and they leap to life in their very lack of
        reason; suddenly we realize how unbelievably rational most fictional characters are as they lead their lives
        from A to Z, like commuters always taking the same train." - Graham Greene</p>
    </details>
    <li><a href="{{ url_for('spark') }}">Spark</a></li>
    <details>
      <summary>
        Notes
      </summary>
      <p>I used <a href="https://app.dithermark.com/">dithermark</a> for some dithering.</p>
      <p>I can't get the mobile view working... and the sparking you get from a lighter which was the inspiration for
        this isn't captured... but nevermind!</p>
    </details>
    <li><a href="{{ url_for('fake') }}">Fake</a></li>
    <details>
      <summary>
        Notes
      </summary>
      <p>Inspired by this <a href="https://www.reddit.com/r/PhilosophyMemes/comments/iqk156/best_illustration_of_baudrillards_theory/">philosophy meme</a>.</p>
      <p>Background from <a href="https://www.magicpattern.design/tools/css-backgrounds">Magic Pattern</a>, 'fish' image from wikipedia.</p>
    </details>
    
    <li><a href="{{ url_for('plastic') }}">Plastic</a></li>
    <details>
      <summary>
        Notes
      </summary>
      <p>This <a href="https://youtu.be/CtZf29w8nLs?si=f-Pxi9TAER8XWh6W">scene from twin peaks</a> was the first thing I thought of.</p>
      <p>I wanted it to have a point and click game kind of feel, although there aren't a lot of options - I finished this quite late!</p>
      <p>I read this article about <a href="https://css-tricks.com/revisiting-image-maps/">image maps</a> and then this article about <a href="https://dev.to/jamesthomson/svg-tricks-kickass-hotspots-904">creating the same effect with svgs</a>, which worked better.</a> 
    </details>
        <li><a href="{{ url_for('sheet') }}">Sheet</a></li>
        <li><a href="{{ url_for('analog') }}">Analog</a></li>
  </ol>
  <hr>
</section>
<section>
  <h3>Resources and inspiration</h3>
  <ul>
    <li><a href="https://litter.leaflet.pub/3lzzdaq6hq22a">linklog #003 -
        silly websites now!</a></li>

    <li><a href="https://sweetfish.site/wwo">sweetfish.site weird web october</a></li>

    <li><a href="https://ribo.zone/weirdweb/">ribo.zone weird web october</a></li>
    <li><a href="https://amalinalai.github.io/htmlenergy/">lina's html energy page</a></li>
  </ul>
</section>
<section>
  <h3>Misc ideas</h3>
  <ul>
    <li><a href="https://twinpeaks.fandom.com/wiki/Blue_Rose">Blue rose case</a></li>
    <li><a
        href="https://www.reddit.com/r/PhilosophyMemes/comments/iqk156/best_illustration_of_baudrillards_theory/">Simulacria</a></li>
  </ul>
</section>

{% endblock %}