{% extends './projects/weird_web_2026/weird_web_template.html' %}


{% block meta %}
<title>Reveal (weird web october)</title>
<meta name="description"
	content="An extract of text with thoughts hidden, a web page for the prompt Reveal">
    {% endblock %}

{% block style %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/speak.js') }}"></script>
<link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://helenffion.cafe/projects/reveal">
<link rel="octo:octothorpes" href="Reveal">

<style>
	.dialog {
		display: none;
		color: darkslategray;
		font-family: 'Playfair';
		font-weight: 400;
		font-size: 18px;
	}

	.reveal {
		border: none;
		background: none;
		color: silver;
		transition-duration: 0.4s;
	}

	.reveal:hover {
		border: none;
		background: none;
		color: darkslategray;
		cursor: pointer;
	}
</style>

<script type="text/javascript">    function demo(id) {
		console.log(id)
		var element = document.querySelector('#' + id)
		console.log(element)
		speak(element);
	}</script>

{% endblock %}

{% block header %}
<div></div>
<div>
	<a href="{{ url_for('projects') }}">Weird Web October</a>
</div>
<div>
	<a href="{{ url_for('spark') }}"> Spark -&gt;</a>
</div>

{% endblock %}

{% block content %}




<p>“And what do you do in your spare time?” <input class="reveal" id="reply-button" type="button" value="Reveal..."
		onclick="demo('thought1');" /></p>

<p id="thought1" class="dialog">
	The lamp on the table made her eyes silvery, full of liquid light. Even the pearl at her earlobe looked
	alive, like a drop of water that a touch might destroy.
</p>

<p>“I—” <input class="reveal" id="reply-button" type="button" value="Reveal..." onclick="demo('thought2');" />
</p>

<p id="thought2" class="dialog">
	Should she tell her she usually worked on her stage models? Sketched and painted sometimes, carved things
	like cats’ heads and tiny figures to go in her ballet sets, but that she liked best to take long walks
	practically anywhere, liked best simply to dream? Therese felt she did not have to tell her. She felt the
	woman’s eyes could not look at anything without understanding completely.
</p>

<p>Therese took some more of her drink <input class="reveal" id="reply-button" type="button" value="Reveal..."
		onclick="demo('thought3');" /></p>
<p id="thought3" class="dialog">
	liking it, though it was like the woman to swallow, she thought, terrifying, and strong.
</p>

<p>
	The woman nodded to the waiter, and two more drinks arrived.
</p>

<p>
	“I like this.”
</p>

<p>
	“What?” Therese asked.
</p>

<p>
	“I like it that someone sent me a card, someone I didn’t know. It’s the way things should be at Christmas.
	And this year I like it especially.”
</p>

<p>
	“I’m glad.” Therese smiled, <input class="reveal" id="reply-button" type="button" value="Reveal..."
		onclick="demo('thought4');" />
</p>

<p id="thought4" class="dialog">
	wondering if she were serious.
</p>

<p>
	“You’re a very pretty girl,” she said.
</p>
<p>
	“And very sensitive, too, aren’t you?”
	<input class="reveal" id="reply-button" type="button" value="Reveal..." onclick="demo('thought5');" />
</p>
<p id="thought5" class="dialog">
	She might have been speaking of a doll, Therese thought, so casually had she told her she was pretty.
</p>

<p>
	“I think you are magnificent,” Therese said with the courage of the second drink, not caring how it might
	sound, because she knew the woman knew anyway.
</p>

<hr>

<p>Text from <i>Carol</i>, or <i>The Price of Salt</i>, by Patricia Highsmith.</p>

<blockquote style="display: none;">"[Highsmith's] characters are irrational, and they leap to life in their very
	lack of reason; suddenly we realize how unbelievably
	rational most fictional characters are as they lead their lives from A to Z, like commuters always taking
	the same train."<cite>Grahame Greene</cite></blockquote>

{% endblock %}

