{% extends './projects/weird_web_2026/weird_web_template.html' %}


{% block meta %}
<title>Skeumorphism (weird web october)</title>
<meta name="description"
	content="Some nonsense, a web page for the prompt Skeumorphism">
    {% endblock %}

{% block style %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/skeumorphism.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='style/skeumorphism.css') }}">
<link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://helenffion.cafe/projects/skeumorphism">
<link rel="octo:octothorpes" href="Skeumorphism">

<script>

	function onClick () {
		// make lyrics visible, change gif image
    document.querySelector(".bird").classList.toggle("fade-out");
	}

</script>

{% endblock %}

{% block header %}
<div><a href="{{ url_for('sheet') }}">&lt;- Sheet</a></div>
<div>
	<a href="{{ url_for('projects') }}">Weird Web October</a>
</div>
<div>
	...
</div>

{% endblock %}

{% block content %}


<div class="email-image-container">
	<img id="bird" class="email-image" src="{{ url_for('static', filename='images/weird_web/skeumorphism/animated-email-image-0597.gif') }}">
	<img class="email-image"src="{{ url_for('static', filename='images/weird_web/skeumorphism/animated-email-image-0635.gif') }}"></div>

<button onClick=onClick()>Send an email?</button>

<div class="border envelope">

	<p>♫ When you send an email, you must give thanks ♫</p>
	<p>To the postmasters who came before</p>
	<p><i>Good morning postmaster! Anything for me?</i></p>
	<p><i>Just some old shit</i></p>
	<p>When you send an email, this represents progress</p>
	<p>Like a robot shoeing a horse</p>
	<p><i>Give me your hoof</i></p>
	<p><i>* Whirring and banging noises*</i></p>
	<p><i>My beautiful horse!</i></p>

</div>

{% endblock %}

{% block footer %}

This is the <a href="">three bean salad</a> <a href="https://beansoundboard.boats/#Emails">email jingle</a> which I have had stuck in my head for weeks.

{% endblock %}
