<html>

<head>
  <html>

  <head>
    <meta charset="UTF-8">
    <meta name="description"
      content="This is a site for weird web october 2026">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <title>Weird Web October 2026</title>
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/weird-web.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://helenffion.cafe/projects">
<link rel="octo:octothorpes" href="weirdweboctober">
    {% block style %}{% endblock %}
  </head>

<body>
  <header>
				{% block header %}{% endblock %}
  </header>
  <main>
				{% block content %}{% endblock %}
  </main>
  <footer>

				{% block footer %}{% endblock %}
  </footer>
</body>