<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amarante&family=Eczar&family=Lexend:wght@500&family=Playwrite+IS:wght@100..400&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='style/hagdo.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/sparkle-text.js') }}"></script>  

</head>
  <body>
	<header><h1><sparkly-text style="--sparkly-text-color: rainbow">Welcome to Jenny and Juno's Hag Do</sparkly-text></h1>
	</header>
	<main>
	  <p><sparkly-text>Hi everyone! Here is the Hag Do plan for Jenny and Juno, on 14th June 2025 🥳</sparkly-text></p>
	  <marquee style="font-size:50px">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0020.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0021.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0022.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0023.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0024.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0025.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0026.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0027.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0028.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0030.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0031.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0032.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0033.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0034.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0035.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0036.jpg') }}">
		<img src="{{ url_for('static', filename='images/hag_do/IMG-20250413-WA0037.jpg') }}">
	</marquee>
	<schedule>
		<div class="post-left">
		  <div class="emoji">🍻</div>
		  <div class="header"><b>Pre-film pints 1pmish-3pm</b></div>
		  <div class="content"><p>Before the films, we'll convene for pre-film pints at the <a href="https://g.co/kgs/YtqEGBB">Christmas Steps</a>.</p>
		  </div>
		</div>
	   <div class="post-left">
		  <div class="emoji">🎥</div>
		  <div class="header"><b>Film #1 - Jennifer's Body 3pm-5pm</b></div>
		  <div class="content"><p>Our first film at <a href="https://g.co/kgs/YtqEGBB">20th Century Flicks</a> (just across the road!) will be the 2009 Megan Fox starring horror film Jennifer's Body.</p><p> gal pachino on letterboxd says <i>"this is twilight for bi girls".</i></p>
			<p>You can bring some refreshments, but keep in mind the <b>Flicks guidelines</b>.</p>
			<ul><li>Please do not bring your own popcorn. We sell our own (the non-sticky kind!) in the shop but you are welcome to bring in other refreshments. We have glasses you can use so please don't bring single-use plastic ones as we love our planet! Also No Candles, but we have a video we can play on screen if you want something to blow out!</li>
			  <li>Unfortunately, we do not allow candles, confetti or party poppers in the shop.</li><li>We sell popcorn, crisps, chocolate, fizzy drinks, tea and coffee. You are welcome to bring in other refreshments.</li></ul>
		  </div>
		</div>
		 <div class="post-left">
		  <div class="emoji">🍜</div>
		  <div class="header"><b>Food - Pho 5.30-7.15pm</b></div>
		   <div class="content"><p>Break for food at <a href="https://g.co/kgs/xvXzjT3">Pho</a>. You can find the menu <a href="https://www.phocafe.co.uk/menus/">here</a>.</p></div>
		</div>
				<div class="post-left">
		  <div class="emoji">🎥</div>
		  <div class="header"><b>Film #2 - Juno 7.15-9pm</b></div>
		  <div class="content"><p>Our second film at 20th Centruy Flicks is the 2007 indie comedy-drama classic Juno, starring Elliot Page and Michael Cera.</p><p><i>“The right person is still gonna think the sun shines out of your ass. That’s the kind of person that’s worth sticking with”</i></p></div>
		</div>
					   <div class="post-left">
		  <div class="emoji">🥳</div>
		  <div class="header"><b>Drinks / Dancing 9pm - Late</b></div>
						 <div class="content"><p>????</p></div>
		</div>
	  </schedule>
	</main>
	<footer></footer>
  </body>
  