<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description"
    content="This is the personal site of Helen Ffion, with photos and other things I'm interested in">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, nofollow">
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%221em%22 font-size=%2280%22>🎃</text></svg>">
  <title>Spooktober Calendar</title>
  <link rel="stylesheet" href="https://unpkg.com/normalize.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style/spooktober.css') }}">

  <!-- https://grid.malven.co/ -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <div class="header-info">
      <div>
        <img height="150px" src="{{ url_for('static', filename='images/spooktober/pumpkins.png') }}"
          alt="https://www.tumblr.com/transparensies/">
      </div>
      <div>
        <h1 class="creepster-regular">Spooktober</h1>
      </div>

      <div class="creepster-regular"> 31 / 31 </div>
    </div>
  </header>
  <main>
    <p>Hover over the days to see short reviews about the films.</p>
    <p>(Look, don't come at me for starting on September 30th. The film was expiring on mubi that day, it's my
      Spooktober challenge and I'll cheat if I want to 💀)</p>
    <div class="calendar">
      <div class="day" style="background-image:url(https://images.mubicdn.net/images/film/59757/cache-120611-1695720751/image-w1280.jpg);
">0<div id="overlay">
          <p>There's Nothing Out There (1991)</p>
          <p>★★★☆☆</p>
          <p>Pulpy fun! Some really bad acting but the initial sequence in the video shop is great. Watched the
            companion Copycat documentary which makes a good case for Wes Craven cribbing from this for Scream...</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/1/1/1/5/9/4/111594-alison-s-birthday-0-2000-0-3000-crop.jpg?v=5233050fce);">
        01<div id="overlay">
          <p>Alison's Birthday (1989)</p>
          <p>★★★★☆</p>
          <p>Some very 70s australian folk horror. Sincere, which I liked, and Peter and Alison are genuinely likeable.
            Not a lot of scares but that ending really hits.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/8/4/3/4/1/5/843415-late-night-with-the-devil-0-2000-0-3000-crop.jpg?v=b6c384f7c5)">
        02<div id="overlay">
          <p>Late Night with the Devil (2023)</p>
          <p>★★★★☆</p>
          <p>Great concept, three star execution, although a lot of stuff about this was really cool it fell a bit
            flat for me -
            would have loved to see the host revealed as truely into his satanic cult stuff and getting his
            comeuppance.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/5/1/3/5/8/51358-the-omen-0-1000-0-1500-crop.jpg?v=2f669d4209)">
        03<div id="overlay">
          <p>The Omen (1976)</p>
          <p>★★★★☆</p>
          <p>I'd seen several of the iconic death scenes from this in Mark Gatiss's History of Horror already, but I
            still had a very good time. Gregory Peck
            lends gravitas to this film and it's great (even if sometimes he feels like he's from a different film).
            Not that scary - more about the existential horror of an evil child / child murder.</p>
        </div>

      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/7/6/1/0/4/6/761046-mad-god-0-2000-0-3000-crop.jpg?v=ccd8e25d6d)">
        04
        <div id="overlay">
          <p>Mad God (2021)</p>
          <p>★★★★☆</p>
          <p>Maybe I admire the vision and commitment more than I loved the film, but there's still a lot to like here -
            so disgusting and bleak. </p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/7/6/3/3/0/9/763309-hellbender-0-2000-0-3000-crop.jpg?v=08a3378d69)">
        05<div id="overlay">
          <p>Hellbender (2021)</p>
          <p>★★★☆☆</p>
          <p>Very indie, and very charming actually! Creepy rather than scary, and the music in the band scenes was
            pretty good.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/5/1/6/5/5/51655-avpr-aliens-vs-predator-requiem-0-2000-0-3000-crop.jpg?v=66f95f9f36)">
        06<div id="overlay">
          <p>AvP: Requiem (2021)</p>
          <p>★★☆☆☆</p>
          <p>It's bad. Hard to see, suffers from some very annoying 00's character stereotypes. Still has some brutal
            moments though (even if you can't see them very well). "That's crazy, the government doesn't lie to people."
          </p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/7/7/9/8/47798-they-live-0-1000-0-1500-crop.jpg?v=816bf826a0)">
        07<div id="overlay">
          <p>They Live (2018)</p>
          <p>★★★★★</p>
          <p>Watched at Sidney and Eden - incredible. </p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/2/4/3/4/8/424348-hereditary-0-2000-0-3000-crop.jpg?v=470e48b681)">
        08<div id="overlay">
          <p>Hereditary (2018)</p>
          <p>★★★★☆</p>
          <p>Watched with Bethany. I liked this a lot, although I imagine it would be more effective seen in the theatre
            with no idea of the plot. Love some cultists though.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/5/0/1/5/9/50159-the-blair-witch-project-0-1000-0-1500-crop.jpg?v=05594b24b0)">
        09<div id="overlay">
          <p>The Blair Witch Project (2018)</p>
          <p>★★★☆☆</p>
          <p>Watched after midnight on the 8th. Liked this more than I thought, the found footage was done really well
            although my dvd brightness settings ruined the ending.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/1/7/3/7/8/17378-the-shout-0-1000-0-1500-crop.jpg?v=085bc849e5);">
        10<div id="overlay">
          <p>The Shout (1978)</p>
          <p>★★★★★</p>
          <p></p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/sm/upload/pi/lf/zx/fe/pdPKlwAOX66Zqktp1amFooovAjT-0-1000-0-1500-crop.jpg?v=bb08ab1974);">
        11<div id="overlay">
          <p>The Hitcher (1986)</p>
          <p>★★★★☆</p>
          <p></p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/3/9/2/2/6/39226-opera-0-1000-0-1500-crop.jpg?v=2c8f105685;">
        12<div id="overlay">
          <p>Opera (1987)</p>
          <p>★★★★★</p>
          <p></p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/2/8/1/9/5/28195-cure-0-1000-0-1500-crop.jpg?v=74a48c4849);">
        13<div id="overlay">
          <p>Cure (1997)</p>
          <p>★★★☆☆</p>
          <p></p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/9/6/3/8/49638-i-know-what-you-did-last-summer-0-1000-0-1500-crop.jpg?v=0800c84ab8);">
        14<div id="overlay">
          <p>I know what you did last summer (1997)</p>
          <p>★★★★☆</p>
          <p>This was so much fun to watch in a group, it's so dumb. A bunch of hot people doing confused face at each other.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/1/9/3/3/0/19330-when-a-stranger-calls-0-1000-0-1500-crop.jpg?v=62e0d2d11c);">
        15<div id="overlay">
          <p>When a stranger calls (1979)</p>
          <p>★★★☆☆</p>
          <p></p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/7/6/8/8/47688-creep-0-1000-0-1500-crop.jpg?v=17e1460ab6)">
        16<div id="overlay">
          <p>Creep (2004)</p>
          <p>★★★☆☆</p>
          <p>Creature / slasher set on the London underground. This wasn't great but the creature was good, and I
            enjoyed the setting. Frustratingly dangles some lore in front of you it doesn't resolve. Features a cute dog
            I was very worried about during the film.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/6/9/8/5/46985-the-order-0-2000-0-3000-crop.jpg?v=adfcae15db)">
        17<div id="overlay">
          <p>Sin Eater (2004)</p>
          <p>★★☆☆☆</p>
          <p>Very dull religious horror/thriller. It's got Heath Ledger in it and the idea of a sin-eater (a priest who
            can absrob all the sins from dying people) is kind of cool, but this film is just slow, badly written and
            again you can't see anything.</p>
        </div>
      </div>
        <div class="day"
          style="background-image:url(https://a.ltrbxd.com/resized/film-poster/8/9/0/1/0/5/890105-humanist-vampire-seeking-consenting-suicidal-person-0-2000-0-3000-crop.jpg?v=17a4ea90a4)">
          18<div id="overlay">
            <p>Vampire Seeking Consenting Suicidal Person (2024)</p>
            <p>★★★☆☆</p>
            <p>It's a cute coming of age film. </p>
          </div>
        </div>
        <div class="day"
          style="background-image:url(https://a.ltrbxd.com/resized/film-poster/9/3/8/8/9/4/938894-immaculate-0-2000-0-3000-crop.jpg?v=22d251986e)">
          19<div id="overlay">
            <p>Immaculate (2024)</p>
            <p>★★★☆☆</p>
            <p>It's an ok film which only really gets going towards the end - but I thought the ending was pretty great!
              Aside from that it's a bit of a slowburn which reheats Rosemary's Baby/other religious horror themes
              without adding much.</p>
          </div>
        </div>
        <div class="day"
          style="background-image:url(https://a.ltrbxd.com/resized/film-poster/3/8/0/0/1/38001-society-0-2000-0-3000-crop.jpg?v=02b3e7813c)">
          20<div id="overlay">
            <p>Society (1989)</p>
            <p>★★★★☆</p>
            <p>Absolutely insane.</p>
          </div>
        </div>
        <div class="day"
          style="background-image:url(https://a.ltrbxd.com/resized/film-poster/3/3/0/3/6/0/330360-prevenge-0-2000-0-3000-crop.jpg?v=781de8cc26)">
          21<div id="overlay">
            <p>Prevenge (2016)</p>
            <p>★★★★☆</p>
            <p>I loved this film more on the rewatch - in an interview, Alice Lowe said she wanted to explore loss of
              identity as a pregnant person, and I think it does that really well. Some great black comedy and brutal
              kills.</p>
          </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/1/8/3/8/41838-carnival-of-souls-0-2000-0-3000-crop.jpg?v=a3719cf15b)">
        22<div id="overlay">
          <p>Carnival of Souls (1962)</p>
          <p>★★★★☆</p>
          <p>Really unnerving and sad.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/5/1/3/6/2/51362-the-fog-0-1000-0-1500-crop.jpg?v=2f669d4209)">
        23<div id="overlay">
          <p>The Fog (1980)</p>
          <p>★★★★★</p>
          <p>At Grindhouse cinema club - the perfect spooky ghost story. </p>
        </div>
      </div>
        <div class="day"
          style="background-image:url(https://a.ltrbxd.com/resized/sm/upload/hs/ok/6b/1z/w5YQqrwzreHfa7RmXCB7rpLLxbe-0-1000-0-1500-crop.jpg?v=bd68374729)">
          24<div id="overlay">
            <p>Candyman (1992)</p>
            <p>★★★★★</p>
            <p>I bought this on dvd from the Big Scream festival. It's got such a good plot, really differs from the
              usual horror film tropes.</p>
          </div>
        </div>
        <div class="day"
          style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/9/2/9/9/49299-friday-the-13th-0-1000-0-1500-crop.jpg?v=ec6f86b02b)">
          25<div id="overlay">
            <p>Friday the 13th (1980)</p>
            <p>★★★☆☆</p>
            <p>First time watching this! I read it was meant to be a pulpier Halloween knock-off, really ratcheting up
              the kills. I knew the twist going in but it still works, pulled off by the performance at the end.</p>
          </div>
        </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/sm/upload/9c/sh/pa/vk/uap6eKgnII5lLPFEESAvqtpPciI-0-1000-0-1500-crop.jpg?v=f08ffaed8e)">
        26
        <div id="overlay">
          <p>Trouble every day (2001)</p>
          <p>★★★☆☆</p>
          <p>A tough watch - Clare Denis has such a unique style, this was bleak and pared down.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/7/9/3/8/8/3/793883-smile-0-2000-0-3000-crop.jpg?v=54791d7575)">
        27<div id="overlay">
          <p>Smile (2022)</p>
          <p>★★★☆☆</p>
          <p>Scary! Pretty trope-y but in a good way - sometimes you've watched too much psychologial horror and just
            want something scary. The possession scene at the end is sick.</p>
        </div>
      </div>
      <div class="day" style="background-image:url(https://a.ltrbxd.com/resized/film-poster/3/3/1/1/3/33113-lips-of-blood-0-2000-0-3000-crop.jpg?v=6899056752)">
        28<div id="overlay">
          <p>Lips of Blood (1974)</p>
          <p>★★★☆☆</p>
          <p>This was so french. Love the vampires in their see through gowns.</p>
        </div>
      </div>
      <div class="day" style="background-image:url(https://a.ltrbxd.com/resized/sm/upload/dr/w1/yw/kh/oiW2UimyycX7Y0AaGBvvWOerTBr-0-2000-0-3000-crop.jpg?v=1494f7e2fd)">
        29<div id="overlay">
          <p>Trick r Treat (2007)</p>
          <p>★★☆☆☆</p>
          <p>Anthology horror, should be fun but too 2000s and not funny enough for me. Did love the little pumpkin guy and enjoy Brian Cox though</p>
        </div>
      </div>
      <div class="day" style="background-image:url(https://a.ltrbxd.com/resized/film-poster/4/4/4/6/3/44463-deathwatch-0-2000-0-3000-crop.jpg?v=89c914ba75)">
        30<div id="overlay">
          <p>Deathwatch (2002)</p>
          <p>Trick r Treat (2007)</p>
          <p>★★☆☆☆</p>
          <p>What a great idea (horror in the WW1 trenches) but what a mess.</p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/film-poster/7/3/3/7/1/73371-stoker-0-1000-0-1500-crop.jpg?v=00f414ccc1)">
        31
        <div id="overlay">
          <p>Stoker (2013) at
            Little Theatre Picturehouse</p>
            <p>★★★★☆</p>
            <p>Beautiful and stylishly shot thriller about a couple of psychos. </p>
        </div>
      </div>
      <div class="day"
        style="background-image:url(https://a.ltrbxd.com/resized/sm/upload/xx/ut/30/b1/7E1l2sRXOWWGq5loMFn4ev4AwR1-0-1000-0-1500-crop.jpg?v=c701eaba50)">
        Bonus Halloween film<div id="overlay">
          <p>Messiah of Evil (1974)</p>
          <p>Hellfire video club at the Cube Cinema</p>
        </div>
      </div>
    </div>

  </main>
  <footer>
    <p>Based on <a href="https://github.com/setetres/evenbettermotherfuckingwebsite">Even Better Motherfucking
        Website</a>.</p>
    <p>Calendar layout from <a href="https://www.joshwcomeau.com/css/interactive-guide-to-grid/">Interactive Guide to
        grid</a>
  </footer>
</body>
