{% extends 'landing-page-template.html' %}

{% block style %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts/counters.js') }}"></script>
{% endblock %}


{% block header %}
<h1>{% block title %}Counters{% endblock %}</h1>
{% endblock %}
{% block content %}
<section>
	<br>
	<div class ="highlight">Started sertraline 💊<span id="targetDate2">  </span></div>
	<br>
	<div class ="highlight">In a relationship 💖<span id="targetDate3">  </span></div>
	<br>
	<div class ="highlight">Passed my driving test 🚗<span id="targetDate4">  </span></div>
	<br>
	<div class ="highlight">Last cigarette (roughly) 🚭<span id="targetDate5">  </span></div>
</section>
</section>
{% endblock %}