{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cultivation{% endblock %}</h1>
{% endblock %}

{% block content %}

<p>	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793; &#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;</p>
<section>
		<h3>Poetry</h3>
		<p>I'm trying to start to write poetry. I'm starting by trying to read poetry, seek it out. I think it appeals to me as a way to take a snapshot of a feeling - that is, for me, the main purpose of all creative acts.</p>
	</section>
	<section>
		<details>
		<summary>See my poetry progress</summary>
		<span>
			<table>
				<thead>
					<tr>
						<th>Date</th>
						<th>Progress</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>10/07/2024</td>
						<td>Bought Cowboy by - have not yet read many poems.</td>
					</tr>
				</tbody>
			</table>
		</span>
		</details>
		</section>
	<section>
		<h3>Sleep and mindfulness</h3>
		<p>Insomnia is a constant companion for me - I resist sleep. Cultivating mindfulness and being able to tolerate meditation, yoga, other quiet practices seems to me to be the key to improving this.</p>
	</section>
	<section>
	<details>
	<summary>See my mindfulness and sleep progress</summary>
	<span>
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>Progress</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>16/07/2024</td>
					<td>Went to Pilates - trying to keep an excercise habit.</td>
				</tr>
				<tr>
					<td>17/07/2024</td>
					<td>Sleep worse - I don't use the worry writing method although I know it's beneficial. What's stopping me?</td>
				</tr>
				<tr>
					<td>20/07/2024</td>
					<td>Pilates again - felt really good after. Struggled to fall asleep due to heat but managed to stay off my phone largely.</td>
				</tr>
			</tbody>
		</table>
	</span>
	</details>
	</section>
{% endblock %}