{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Now Page{% endblock %}</h1>
{% endblock %}

{% block content %}
			<section>
				<i>Last updated 19/07/2024</i>
			</section>
			<section>
				<h2>☀️ Currently</h2>
				<p>Working on my personal website</p>
				<p>Slacking off</p>
				<p>Reading about the <a href="https://www.theguardian.com/environment/article/2024/jul/19/chris-packham-celebrities-outcry-over-severity-just-stop-oil-sentences">criminal Just Stop Oil</a> sentences. </p>
				<p>Admiring rain's <a href="https://kinopio.club/-summer-camp-2024-AkbXuciMTqZqSHoASYijg">kinopio boards</a> and <a href="rain.computer"> website</a></p>
			</section>
			<section>
				<details>
					<h2><summary>🕦 View the past</summary></h2>
					<span>
						The past
					</span>
				</details>
			</section>
	  {% endblock %}