body {
    margin:0;
    padding:0;
	display: block;
	padding: 10px 10px;
	font-family: "Solway", cursive;
  	margin: 5% auto 5% auto;
	width: 90%;
}

header, .intro {
	width: 80%;
	margin: 0% 15% 0% 15%;
}

.intro {
 margin-bottom: 20px;
}

main {
	width: 100%;
}

.flex-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-flow: row wrap;
	justify-content: space-around;
	row-gap: 20px;
	column-gap: 0px;
}

.front img {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}

.back img {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	margin: 0 0 0 0;
}

.vertical-card {
	width: 200px;
	height: 300px;
	max-width: 700px;
	position: relative;
	.front {
		position: relative;
		width: 100%;
		height: 100%;
		transition: all 0.5s ease;
		transform: perspective(700px) rotateY(0deg);
		backface-visibility: hidden;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.back {
		background-color: #e1e1e1;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.5s ease;
		transform: perspective(700px) rotateY(-180deg);
		backface-visibility: hidden;
		drop-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
	}

	.back:hover #overlay {
		opacity: 1;
	}

	#hide:target + #overlay {
		background: purple;
	}

	&:hover {
		.front {
			transform: perspective(700px) rotateY(180deg);
		}
		.back {
			transform: perspective(700px) rotateY(00deg);
			#overlay {
				-webkit-transition: opacity 0.25s ease;
				-moz-transition: opacity 0.25s ease;
			}
		}
	}
}

.card {
	width: 430px;
	height: 300px;
	position: relative;
	.front {
		position: Absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		transition: all 0.5s ease;
		transform: perspective(700px) rotateY(0deg);
		backface-visibility: hidden;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	}
	.back {
		background-color: #e1e1e1;
		position: Absolute;
		top: 0;
		left: 0;
		transition: all 0.5s ease;
		transform: perspective(700px) rotateY(-180deg);
		backface-visibility: hidden;
		drop-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
	}

	.back:hover #overlay {
		opacity: 1;
	}

	&:hover {
		.front {
			transform: perspective(700px) rotateY(180deg);
		}
		.back {
			transform: perspective(700px) rotateY(00deg);
			#overlay {
				-webkit-transition: opacity 0.25s ease;
				-moz-transition: opacity 0.25s ease;
			}
		}
	}
}

#overlay {
	background: rgba(0, 0, 0, 0.65);
	text-align: center;
	color: #ffffff;
	padding: 0px;
	opacity: 0;
	top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding: 5px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 100%; /* Could be more or less, depending on screen size */
	position: relative;
	background-color: #fefefe;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* Add Animation */
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
