:root {
    --bg: #F1C0E8;
    --fg: #371863;
    --highlight: #FFBE0B;
    --link: #8338EC;
    --link-hover:#FF006E;
    --link-visited:#FF006E;
  }
  
  header {
    margin: auto;
    width: 70%;
    text-align: center;
  }
  
  body {
    background-color: var(--bg);
    font-family: "lexend";
    color: var(--fg);
  }
  
  a:link {
    color: var(--link);
    border-bottom: 1px dashed var(--link);
    text-decoration: none;
  }
  
  a:hover {
    color: var(--link-hover);
    border-bottom: 1px dashed var(--link-hover);
    text-decoration: none;
  }
  
  a:visited {
    color: var(--link-hover);
    border-bottom: 1px dashed var(--link-hover);
    text-decoration: none;
  }
  
  header img, marquee img {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }

  marquee img {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    object-fit: cover;
  }
  
  main {
    margin: auto;
    width: 70%;
  }
  
  /* now the schedule gird */
  .post-left i {
    font-family: "Playwrite IS", cursive;
    color: var(--link-hover);
  }
  
  schedule {
    display: grid;
    grid-template-columns: 100%; /* one column, takes up all space*/
    width: 100%; /* takes up 100% of parent */
    max-width: 100%;
    grid-gap: 10px;
  }
  schedule .post-left {
    display: grid;
    grid-template-columns: 10% auto;
    grid-template-rows: 20px auto;
    color: var(--fg);
    background: #f5d7af;
    border-radius: 10px;
    font-weight: 400;
    grid-gap: 5px;
  }
  
  schedule .header {
    grid-column: 2 / 2;
    margin-top: 10px;
  }
  
  schedule .content {
    grid-column: 2 / 2;
    line-height: 1.5em;
    margin-bottom: 40px;
  }
  
  schedule .emoji {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    grid-column: 1 / 2;
    grid-row: span 2;
    font-size: 80px;
  }

  @media (max-width: 600px) {
    main {
      width:90%;
      }
    schedule .emoji {
      font-size: 10px;
      }
    
      schedule .post-left {
        grid-template-columns: 20% auto;
      }
    }
  
