:root {
  --bg: var(--pink);
  --fg: var(--red-orange);

  /* pink - orange scheme */
  --pink: #ffcfef;
  --red-orange: #f41c0c;

  --image-max-size: 324px;

  --header-font-family: 'Solway', 'Open Sans', 'Helvetica Neue', sans-serif;
  --body-font-family: 'Lexend', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 5% 15% 5% 15%;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--body-font-family);
  font-size: 21px;
  line-height: 1.8;
  max-width: 73%;
  font-weight: 300
}

a {
  color: var(--red-orange);
  text-decoration: underline;
}

header a {
  color: var(--red-orange);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

a:hover {
  border-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
}

/* On mobile devices, display images in a verticle line */
@media (max-width: 600px) {
  body {
    margin: 5% 5% 5% 5%;
    max-width: 90%;
  }

  .parent {
    display: flex;
    flex-direction: column;
  }

  .parent img {
    height: 50px;
  }

  .image-child, .pumpkin, .camera, .book {
    display: flex;
    position: relative;
  }
}

.about {
  width: 100%;
  height: 30vw;
}

.about-icon {
  transform: translate(10px, 45px);
}

/* the parent div that holds all the image links */
.parent {
  position: relative;
  width: 100%;
  height: 30vw;
}

/* set hieght for images inside parent */
.parent img {
  height: 200px;
}

/* set the positions and rotations of the child images */
.image-child {
  position: absolute;
  top: 0px;
  left: -20px;
}

.image-child.camera {
  transform: rotate(20deg);
}

.image-child.pumpkin {
  top: 50px;
  left: 350px;
}

.image-child.book {
  top: 150px;
  left: 100px;
}

/* set the hover transistions for the child images */
.image-child.camera:hover {
  transform: rotate(25deg);

  &:after {
    position: absolute;
    top: 150px;
    left: 0px;
    content: "Photos";
  }
}

.image-child.book:hover {
  transform: rotate(8deg);

  &:after {
    position: absolute;
    top: 140px;
    left: 0px;
    content: "Reading log";
  }
}

.image-child.pumpkin:hover {
  transform: rotate(-10deg);

  &:after {
    position: absolute;
    top: 180px;
    left: 0px;
    content: "Spooktober";
  }
}


/* override magick css styling of figcaption - I want the text to be smaller */
figcaption {
  margin: 0.8rem 0;
  font-size: 1.2rem;
  line-height: 1.3;
}

/*
    1) Set the maximum width of the image to 100% so they don't overflow the main column.
    2) Set the height in respect to the width to prevent the image from stretching.
    3) Add some margin to standalone images.
*/
img {
  max-width: 100%; /* 1 */
  height: auto; /* 2 */
  margin: 0.8rem 0; /* 3 */
}

/* Images in figures should not have their own margins */
figure img {
  max-width: 70%;
  margin: 0;
  padding: 0;
}

/*
  1) Set margins and padding for figures.
  2) Center align any text inside figures.
*/
figure {
    margin: 2rem 0; /* 1 */
    padding: 0; /* 1 */
    text-align: center; /* 2 */
}

/* Center align any element that is part of a figure */
figure * {
    margin-left: auto;
    margin-right: auto;
}

/* We don't want to center prealigned text or code in figures */
figure code,
figure pre {
    text-align: left;
}