:root {
  --bg: var(--pink);
  --fg: var(--red-orange);

  /* pink - orange scheme */
  --pink: #ffcfef;
  --red-orange: #f41c0c;

  --image-max-size: 324px;

  --header-font-family: 'Solway', 'Open Sans', 'Helvetica Neue', sans-serif;
  --body-font-family: 'Lexend', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 5% 15% 5% 15%;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--body-font-family);
  font-size: 21px;
  line-height: 1.8;
  max-width: 73%;
  counter-reset: sidenote-counter;
  font-weight: 300
}

a {
  color: var(--red-orange);
  text-decoration: underline;
}

a:hover {
  border-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
}

/* On mobile devices, display image aside below image */
@media (max-width: 600px) {
  .parent {
    display: block;
  }

  h1 {
    font-size: 18px;
  }



  .image-child.pumpkin {
    position: block;
    left:100px;
  }

  .size-image {
    height: 50px;
  }
}

.parent {
  position: relative;
  width: 100%;
  height: 30vw;
}

.size-image {
  height: 200px;
}


.image-child {
  position: absolute;
  top: 0px;
  left: -20px;
}

.image-child.camera {
  transform: rotate(20deg);
}

.image-child.pumpkin {
  top: 50px;
  left: 350px;
}

.image-child.book {
  top: 150px;
  left: 100px;
}

.image-child.camera:hover {
  transform: rotate(25deg);

  &:after {
    position: absolute;
    top: 150px;
    left: 0px;
    content: "Photos";
  }
}

.image-child.book:hover {
  transform: rotate(8deg);

  &:after {
    position: absolute;
    top: 140px;
    left: 0px;
    content: "Reading log";
  }
}

.image-child.pumpkin:hover {
  transform: rotate(-10deg);

  &:after {
    position: absolute;
    top: 180px;
    left: 0px;
    content: "Spooktober";
  }
}