:root {
  --bg: var(--pink);
  --fg: var(--red-orange);

  /* pink - orange scheme */
  --pink: #ffcfef;
  --red-orange: #f41c0c;

  --image-max-size: 324px;

  --header-font-family: 'Solway', 'Open Sans', 'Helvetica Neue', sans-serif;
  --body-font-family: 'Lexend', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 5% 15% 5% 15%;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--body-font-family);
  font-size: 21px;
  line-height: 1.8;
  font-weight: 300
}

a {
  color: var(--red-orange);
  text-decoration: underline;
}

header a {
  color: var(--red-orange);
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

a:hover {
  border-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font-family);
}

.about {
  width: 100%;
}

.about-icon {
  transform: translate(10px, 45px);
}

/* the parent div that holds all the image links */
.parent {
  position: relative;
  width: 100%;
  height: 350px; /* calculated from height of children */
}

/* set height for images inside parent */
.parent img {
  height: 200px;
}

hr {
  border: 0;
  border-top: 3px dotted var(--red-orange);
  margin: 1%;
}

/* set the positions and rotations of the child images */
.image-child {
  position: absolute;
  top: 0px;
  left: -20px;
}

.image-child.camera {
  transform: rotate(20deg);
}

.image-child.postcard {
  top: 30px;
  left: 650px;
}

.image-child.postcard img {
  height: 100px;
}

.image-child.book {
  top: 150px;
  left: 100px;
}

/* set the hover transistions for the child images */
.image-child.camera:hover {
  transform: rotate(25deg);

  &:after {
    position: absolute;
    top: 150px;
    left: 0px;
    content: "Photos";
  }
}

.image-child.book:hover {
  transform: rotate(8deg);

  &:after {
    position: absolute;
    top: 140px;
    left: 0px;
    content: "Reading log";
  }
}

.image-child.postcard:hover {
  transform: rotate(-10deg);

  &:after {
    position: absolute;
    top: 120px;
    left: 0px;
    content: "Postcards";
  }
}


/* override magick css styling of figcaption - I want the text to be smaller */
figcaption {
  margin: 0 0;
  font-size: 1rem;
  line-height: 1;
}

/* On mobile devices, display images in a verticle line */
@media (max-width: 600px) {
  body {
    margin: 5% 5% 5% 5%;
    max-width: 90%;
  }

  .parent {
    display: flex;
    flex-direction: column;
  }

  .parent img {
    height: 200px;
  }

  .image-child,
  .image-child.postcard,
  .image-child.camera,
   .image-child.book,
   .image-child.cookie{
    display: flex;
    position: static;
  }
}