
:root {
    --bg: var(--pink);
    --fg: var(--red-orange);
  
    /* pink - orange scheme */
    --pink: #ffcfef;
    --red-orange: #f41c0c;

    --image-max-size: 324px;

    --header-font-family: 'Solway', 'Open Sans', 'Helvetica Neue', sans-serif;
    --body-font-family: 'Lexend', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 5% 15% 5% 15%;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--body-font-family);
  font-size: 21px;
  line-height: 1.8;
  max-width: 73%;
  counter-reset: sidenote-counter;
  font-weight: 300
}
a {
  color: var(--red-orange);
  text-decoration: underline;
}
a:hover {
  border-bottom: 0;
}

blockquote {
  border-left: 3px solid var(--red-orange);
  margin: 10px;
  padding-left: 10px;
}

figure {
  margin:10% auto auto 10%;
}

h1, h2, h3, h4 {
  font-family: var(--header-font-family);
}

 cite {
      display: block;
      font-style: italic;
      text-align: right;
      &:before {
        content: "- ";
      }
    }

.sidenote {
    font-size: 80%;
    position: relative;
    transform: rotate(5deg);
    text-align: top;
}
/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: right;
        clear: right;
        margin-right: -35vw;
        text-align: left;
        background: var(--pink);

        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}

/* On mobile devices, display image aside below image */
@media (max-width: 600px) {
  .image-child {
    position: relative;
  }
  
  .image-child.pumpkin {
    position: relative;
  }
  
  .image-child.book {
    position: relative;
  }
}

.sidenote-number {
    counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter)".";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-weight: bold;
}
/* Counter in the main body. */
.sidenote-number::after {
    content: counter(sidenote-counter);
    vertical-align: super;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 0.5rem;
}

.image-child {
  position: absolute;
  top: 100px;left: 250px;
}

.image-child.pumpkin {
  top: 200px;left: 500px;
}

.image-child.book {
  top: 300px;left: 100px;
}


.image-child:hover {
  transform: rotate(5deg);
  &:after {
    margin-bottom: 2vw;
    content: "Photos";
  }
}

.image-child.book:hover {
  transform: rotate(8deg);
  &:after {
    margin-bottom: 2vw;
    content: "Reading log";
  }
}

.image-child.pumpkin:hover {
  transform: rotate(-10eg);
  &:after {
    margin-bottom: 2vw;
    content: "Spooktober";
  }
}


@media (min-width: 1400px) {
    /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
    .sidenote-number:hover .sidenote {
        background-color: #fade85;
    }
}