@import url('https://fonts.googleapis.com/css2?family=Solway&family=Caveat&family=Lexend:wght@300;400;700&display=swap');

:root {
    --tangerine: #F7A278;
    --orange: #c94c10;
    --champagne: #FDE4D8;
    --dusty-champagne: #EFC6B8;
    --charcoal: #626262;
  --dark-grey:#333333;
  --moonstone: #2AB7CA;
  --ghost-white: #F4F4F8;
    --bg: var(--ghost-white);
    --fg: var(--dark-grey);

    --image-max-size: 324px;

    --font-family: 'Solway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      --body-font-family: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 5% 25% 5% 25%;
  background: var(--bg);
  color: var(--fg);
  font-family: var(--body-font-family);
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8;
  max-width: 80%;
  counter-reset: sidenote-counter;
}
code {
  background: var(--dusty-champagne)
}
a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}
a:hover {
  border-bottom: 0;
}

.colour {
  padding: 0px 0px 0px 25px;
  border-radius: 10px;
}

.permanent-rose {
  background: linear-gradient(to right, #CA1F4B, #ffffff);
}

.ultramarine-blue {
  background: linear-gradient(to right, #4166f5, #ffffff);
}

.cobalt-blue {
  background: linear-gradient(to right, #0047AB, #ffffff);
}

.raw-sienna {
  background: linear-gradient(to right, #D27D46, #ffffff);
}

.burnt-sienna {
  background: linear-gradient(to right, #E97451, #ffffff);
}

.sap-green {
  background: linear-gradient(to right, #507d2a, #ffffff);
}

.cadmium-red {
  background: linear-gradient(to right, #e30022, #ffffff);
}

.cadmium-yellow {
  background: linear-gradient(to right, #FDDA0D, #ffffff);
}

blockquote {
  border-left: 3px solid var(--dark-grey);
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 200;
  background: #f0d8cc;
}

figure {
  margin:10% auto auto 10%;
}

h1, h2, h3, h4 {
  font-family: var(--font-family);
}

 cite {
      display: block;
      font-style: italic;
      text-align: right;
      &:before {
        content: "- ";
      }
    }

.sidenote {
    font-size: 80%;
    position: relative;
    transform: rotate(5deg);
    text-align: top;
}
/* Wide viewport */
@media (min-width: 1400px) {
    .sidenote {
        float: right;
        clear: right;
        margin-right: -23vw;
        text-align: left;
        

        top: -3rem;
        width: 20vw;
        margin-top: 1rem;
    }
}

.child-1 {
  position: absolute;
  top: 100px;
  left: 250px;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}
/* Counter before the sidenote in the margin. */
.sidenote::before {
    content: counter(sidenote-counter)".";
    position: relative;
    vertical-align: baseline;
    font-size: 0.9em;
    font-weight: bold;
}
/* Counter in the main body. */
.sidenote-number::after {
    content: counter(sidenote-counter);
    vertical-align: super;
    font-size: 0.7em;
    font-weight: bold;
    margin-right: 0.5rem;
}

@media (min-width: 1400px) {
    /* Highlight the sidenote when mouse hovers on the sidenote number in body. */
    .sidenote-number:hover .sidenote {
        background-color: #fade85;
    }
}