@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Playfair:wght@300;400;700&display=swap");

:root {
  --dark-grey: #333333;
  --ghost-white: #f4f4f8;
  --bg: var(--ghost-white);
  --fg: var(--dark-grey);
  --image-max-size: 324px;

  --font-family: "Space Mono";
  --body-font-family: "Space Mono";
  
  --font-size: 16px;
  --font-weight: 300;
  --line-height: 1.8;
  --body-max-width: 90%;
}

body {
  background: var(--bg);
  height: 100%;
}

main, header, footer {
  color: var(--fg);
  font-family: var(--body-font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

main, footer {
  margin: 0% 15% 0% 15%;
  max-width: var(--body-max-width);
}

header {
  width: 96%;
  height: 1%;
  background: var(--bg);
  border-bottom: solid darkgrey 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 2%;
  color: var(--fg);
  font-family: var(--body-font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}
