{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Photos{% endblock %}</h1>
{% endblock %}

{% block content %}
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150001.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150002.jpg') }}"></img>
			<figcaption>
				Max and Bethany outside a off lisence in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150003.jpg') }}"></img>
			<figcaption>
				Checkpoint Charlie, Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150004.jpg') }}"></img>
			<figcaption>
				Berlin Wall, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150005.jpg') }}"></img>
			<figcaption>
				Max at the holocaust memorial, Berlin 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150006.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150007.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150008.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150009.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150010.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150011.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150012.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150013.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150014.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150015.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150016.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150017.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150018.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150019.jpg') }}"></img>
			<figcaption>
				Max and Bethany in Berlin, 2022
			</figcaption>
		</figure>
	</section>
	<section>
		<figure>
			<img src="{{ url_for('static', filename='images/2022_10_22/000005150020.jpg') }}"></img>
			<figcaption>
				Rhi and me in a Prague cinema following a rainstorm, summer 2022
			</figcaption>
		</figure>
	</section>
{% endblock %}