{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}About{% endblock %}</h1>
{% endblock %}

{% block content %}
	<section>
		<!-- no professional section for now-->
		<!--h3>Professional</h3>
		<p>I'm a software engineer with full-stack experience, mainly using Java and Python.</p>
		<p>I also have training in coaching and managment, and I'm passionate about mentoring and helping people with their professional and personal development.</p -->
		<h3>About me</h3>
		<p>I climb, watch <a href="https://letterboxd.com/Bluebottles/">a lot of films</a>, enjoy reading and have a 
			<a href="https://playful-fox-d178c6.netlify.app/">bookclub</a> with my friends, and like taking 
			<a href="{{ url_for('photos') }}">photographs</a>. I really love a crossword. 
			I also dabble in life drawing, get sucked into the occasional video game and journal almost every day. 
			I run a <a href="https://just2hags.substack.com/">newsletter</a> with my friend Bethany.</p> 
		<p>I work as a consultant at a software company in Bristol, and do a bit of coding and a bit of management.</p>
	</section>
	<section>
		I have a <a href="{{ url_for('counters') }}">counters</a> page for my milestones.
	</section>
	<section>
		<img src="{{ url_for('static', filename='images/stickers/STK-20240725-WA0003.webp') }}" style="float:left; height:100px" alt="cube cinema ticket stubs"> I go to a lot of local Bristol cinemas,
		here's a collection of off-cuts from them - I save all my cinema tickets and maybe one day I'll do something with them. I like the cube cinema and the watershed the best.
		<img src="{{ url_for('static', filename='images/stickers/STK-20240725-WA0001.webp') }}" alt="cube cinema membership card" style="float:right; height:100px">

	</section>
{% endblock %}