<!DOCTYPE html>
<html>
    <head>
		<title>{% block title %}{% endblock %} - Personal site</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
    <body>
		<!-- Side navigation -->
		<div class="sidenav">
		  <a href="{{ url_for('slideshow') }}">Slideshow</a>
		  <a href="{{ url_for('newsletter') }}">Newsletter</a>
		  <a href="{{ url_for('book_club') }}">Book Club</a>
		</div>

		<!-- Page content -->
		<div class="main">
			<header>
				{% block header %}{% endblock %}
			  </header>
			  {% for message in get_flashed_messages() %}
				<div class="flash">{{ message }}</div>
			  {% endfor %}
			  {% block content %}{% endblock %}
      </div>
    </body>
</html>