{% extends 'base_book_club.html' %}

{% block header %}

{% endblock %}

{% block content %}
<h3>The current book is:</h3>
<h3>{{ current_book['title'] }} by  {{ current_book['author'] }} picked by  {{ current_book['picker'] }} in  {{ current_book['date'] }}</h3>
<div class="bgimg">
	{% if 'http' in current_book['cover_image_url'] %}
	<img class="center-book" src={{ current_book['cover_image_url'] }}>
  {% else %}
	<img src={{ url_for('static', filename=current_book['cover_image_url']) }}></img>
  {% endif %}
</div>
{% for book in book_array %}
	<div class="post">
		{% set index =  book['rating']['Average'] | int() %}
		<h3>{{ book['title'] }} by  {{ book['author'] }} picked by  {{ book['picker'] }} in  {{ book['date'] }}</h3>
			{% if 'http' in book['cover_image_url'] %}
			<img class="tag" src={{ book['cover_image_url'] }}>
		  {% else %}
			<img src={{ url_for('static', filename=book['cover_image_url']) }}></img>
		  {% endif %}
		{% if index > 0 %}
		<p>The average rating was
			{% set vars = {'rating': book['rating']['Average'] | float() } %}
			{% for i in range(index+1) %}
				{% if (vars.rating >= 1) %}
					<img src={{ url_for('static', filename='images/site_images/full_star.png') }}></img>
				{% elif (vars.rating == 0) %}	
					<img></img>
				{% else %}	
					<img src={{ url_for('static', filename='images/site_images/half_star.png') }}></img>
				{% endif %}
				{% if vars.update({'rating': vars.rating - 1}) %}{% endif %}
			{% endfor %}
			/5
		</p>
		{% endif %}
	</div>
{% endfor %}
{% endblock %}