<!DOCTYPE html>
<html>
    <head>
		<title>Secret book club page</title>
		<!--link rel="stylesheet" href="https://edwardtufte.github.io/tufte-css/tufte.css" type="text/css" -->
		<link rel="stylesheet" href="{{ url_for('static', filename='wrapped.css') }}">
	</head>
    <body>

<div role="img" class="intro" aria-label="Scroll down for the magic">
  <span>⬇️</span>
</div>
<div class="box">
  <p class="text">Welcome to your book club wrapped!</p>
</div>
<div class="box">
  <p class="text">We've read 11 books so far!</p>
</div>
<div class="box">
  <p class="text">Your highest rated book is</p>
    <img class="tag" src="https://covers.openlibrary.org/b/isbn/9780552142373-M.jpg">
</div>
<div class="box">
  <p class="text">You've picked 4 books</p>
    <img class="tag" src="https://covers.openlibrary.org/b/isbn/9780007149834-M.jpg">
      <img class="tag" src="https://covers.openlibrary.org/b/isbn/9781534312357-M.jpg">
        <img class="tag" src="{{ url_for('static', filename='images/orlam.jpg') }}">
          <img class="tag" src="{{ url_for('static', filename='images/the-good-asian.png') }}">
</div>
<div class="box">
  <p class="text">Your most liked book was</p>
    <img class="tag" src="{{ url_for('static', filename='images/the-good-asian.png') }}">
</div>
<!--div class="smile" role="img" aria-hidden>
  <div>
    <span>🙂</span>
    <span>😉</span>
  </div -->
</div>
</body>