<!DOCTYPE html>
<html>
    <head>
		<title>Secret book club page</title>
		<!--link rel="stylesheet" href="https://edwardtufte.github.io/tufte-css/tufte.css" type="text/css" -->
		<link rel="stylesheet" href="{{ url_for('static', filename='wrapped.css') }}">
	</head>
    <body>

<div role="img" class="intro" aria-label="Scroll down for the magic">
  <span>⬇️</span>
</div>
<div class="box">
  <p class="text">{{name}}, welcome to your book club wrapped!</p>
</div>
<div class="box">
  <p class="text">We've read {{ book_array|length }} books so far!</p>
</div>
<div class="box">
  <p class="text">Your highest rated book is {{highest_rated_book['title']}}</p>
  {% set cover_img_url =  highest_rated_book['cover_image_url'] %}
  {% if 'http' in highest_rated_book['cover_image_url'] %}
    <img class="tag" src={{cover_img_url}}>
  {% else %}
    <img src={{ url_for('static', filename=cover_img_url) }}></img>
  {% endif %}
</div>
<div class="box">
  <p class="text">You've picked {{ picked_books|length }} books</p>
  {% for book in picked_books %}
  {% set cover_img_url =  book['cover_image_url'] %}
  {% if 'http' in book['cover_image_url'] %}
    <img class="tag" src={{cover_img_url}}>
  {% else %}
    <img src={{ url_for('static', filename=cover_img_url) }}></img>
  {% endif %}
  {% endfor %}
</div>
<div class="box">
  <p class="text">Your most liked book was {{highest_rated_picked_book['title']}} </p>
  {% set cover_img_url =  highest_rated_picked_book['cover_image_url'] %}
  {% if 'http' in highest_rated_picked_book['cover_image_url'] %}
    <img class="tag" src={{cover_img_url}}>
  {% else %}
    <img src={{ url_for('static', filename=cover_img_url) }}></img>
  {% endif %}
</div>
<!--div class="smile" role="img" aria-hidden>
  <div>
    <span>🙂</span>
    <span>😉</span>
  </div -->
</div>
</body>