{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Counters{% endblock %}</h1>
{% endblock %}
{% block content %}
<section>
	<br>
	<div class ="highlight">Started sertraline 💊<span id="targetDate2"> hereismytext </span></div>
	<br>
	<div class ="highlight">Fred asked me out 💖<span id="targetDate3"> hereismytext </span></div>
	<br>
	<div class ="highlight">Passed my driving test 🚗<span id="targetDate4"> hereismytext </span></div>
	<br>
	<div class ="highlight">Last cigarette (roughly) 🚭<span id="targetDate5"> hereismytext </span></div>
</section>
</section>
{% endblock %}