{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cultivation{% endblock %}</h1>
{% endblock %}

{% block content %}

	<p>	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;</p>
	<section>
		<h3>Poetry</h3>
		<p>I'm trying to start to write poetry. I'm starting by trying to read poetry, seek it out. I think it appeals to me as a way to take a snapshot of a feeling - that is, for me, the main purpose of all creative acts.</p>
	</section>
	<section>
		<h3>Sleep and mindfulness</h3>
		<p>Insomnia is a constant companion for me - I resist sleep. Cultivating mindfulness and being able to tolerate meditation, yoga, other quiet practices seems to me to be the key to improving this.</p>
	</section>
{% endblock %}