{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Cultivation{% endblock %}</h1>
{% endblock %}

{% block content %}

	<p>	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;</p>
	<section>
		<h3>Poetry</h3>
		<p>I'm trying to start to write poetry. I'm starting by trying to read poetry, seek it out. I think it appeals to me as a way to take a snapshot of a feeling - that is, for me, the main purpose of all creative acts.</p>
	</section>
	<section>
		<h3>Sleep and mindfulness</h3>
		<p>Insomnia is a constant companion for me - I resist sleep. Cultivating mindfulness and being able to tolerate meditation, yoga, other quiet practices seems to me to be the key to improving this.</p>
	</section>
	<section>
		Nobody has mentioned the 'details' element, which seems perfect for this job.

<details>
    <summary>Click to toggle</summary>
    <span>Oh, hello</span>
</details>
	</section>
	<section>
		<h3>Small Web</h3>
		<aside>What is the small web? See <a href="https://benhoyt.com/writings/the-small-web-is-beautiful/?hidden=true/">Small is Beautiful</a>, but for me it's also an aesthetic thing. Maybe indie web is a better term.</aside>
		<p>I've been trying out a lot of "small web" ajacent sites and service recently - here are a couple.</p>
		<ul>
			<li><a href="https://helenffion.omg.lol/">omg.lol</a></li>
			<li><a href="https://bluebottles.bearblog.dev/">Bear blog</a></li> (this is <i>really</i> under construction!)
			<li><a href="https://kinopio.club/">Kinopio</a></li>
			<li><a href="https://yay.boo/">Yay boo</a></li>
			<li><a href="https://www.pythonanywhere.com/">python anywhere</a></li>
		</ul>
	</section>
{% endblock %}