{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Digital Garden{% endblock %}</h1>
{% endblock %}

{% block content %}

	<p>	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793; &#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;</p>
	<section>
		<aside>Not what you expected? Maybe you're looking for <a href="https://drawing.garden/?hidden=true/">something like this.</a></aside>
		<h3>What is a digital garden?</h3>

		<blockquote>
			<p>A garden is a collection of evolving ideas that aren't strictly organised by their publication date. 
			They're inherently exploratory – notes are linked through contextual associations. They aren't refined or complete 
			- notes are published as half-finished thoughts that will grow and evolve over time. They're less rigid, less performative, 
			and less perfect than the personal websites we're used to seeing.</p>

			<footer><ah href="https://maggieappleton.com/garden-history">A Brief History & Ethos of the Digital Garden</a> - Maggie Appleton</footer>
		</blockquote>
	</section>
	<section>
	<h3>My digital gardens</h3>
	<p><a href="">Kinopio</a> is the space I think of as my digital garden - I love the mind mapping aspect of it and I can't think of anything else on the internet like it.
	Some people find it chaotic, but the way you can "pin" things in a space and link them up is the most intuitive to my brain, and the aesthetic helps a lot too (if things look
    nice, I am more likely to use them).</p>
	<p>As the developer says in <a href="https://pketh.org/hello-kinopio.html">this blog post</a>, Kinopio is designed to "Get the chaotic messy thoughts and ideas out of your head" and it does that for me!</p>
	<ul>
		<li><a href="https://kinopio.club/small-web-opdNIo0qGV1h8fduLKG2u">Small Web</a></li> - my kinopio space where I store small and indie web insp links and resources.
	</ul>
	</section>
	<section>
		<h4>Other small/indie web sites</h4>
		<aside>What is the small web? See <a href="https://benhoyt.com/writings/the-small-web-is-beautiful/?hidden=true/">Small is Beautiful</a>, but for me it's also an aesthetic thing. Maybe indie web is a better term.</aside>
		<p>In addition to Kinopio I've been trying out a lot of "small web" ajacent sites and service recently - here are a couple.</p>
		<ul>
			<li><a href="https://helenffion.omg.lol/">omg.lol</a></li>
			This links to my omg.lol page - I don't use it much at the moment, but it's fun and interesting as a web portal. I originally signed up to use their 
			picture hosting for my photos, but it wasn't really what I wanted - which is why I created this site!
			<li><a href="https://bluebottles.bearblog.dev/">Bear blog</a></li> (this is <i>really</i> under construction!)
			This links to my bear blog, which is really under construction - I'm also not sure if I'll share it here long term, as I've been using it for quite personal blogging where
			there's freedom in anonimity.
			<li><a href="https://yay.boo/">Yay boo</a></li>
			This is a site that will let you upload very small static sites. Could be quite fun and useful if you're messing around with like, a pgae of html.
			<li><a href="https://www.pythonanywhere.com/">python anywhere</a></li>
			I used this to host the initial iteration of the book club site I made - it was very easy to deploy a flask app here! Ultimately I decided to host it as a static site (because I felt it didn't really need any interaction elements)
		</ul>
	</section>
	<section>
		<h3>Reccommendations</h3>
		<div class="highlight"><pre>
🌺 <a href="">Anna Friedman</a>                                          
			             
						🌼<a href="">Cafe Anne</a>

					🌳 <a href="">Tiramisu on Bear blog</a>



		</pre></div>
	</section>
{% endblock %}