{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Digital Garden{% endblock %}</h1>
{% endblock %}

{% block content %}

	<p>	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;	&#127793;</p>
	<section>
		<span class="sidenote">Not what you expected? Maybe you're looking for <a href="https://drawing.garden/?hidden=true/">something like this.</a></span>
		<span class="sidenote-anchor"><h3>What is a digital garden?</h3></span>

		<blockquote>
			<p>A garden is a collection of evolving ideas that aren't strictly organised by their publication date. 
			They're inherently exploratory – notes are linked through contextual associations. They aren't refined or complete 
			- notes are published as half-finished thoughts that will grow and evolve over time. They're less rigid, less performative, 
			and less perfect than the personal websites we're used to seeing.</p>

			<footer><ah href="https://maggieappleton.com/garden-history">A Brief History & Ethos of the Digital Garden</a> - Maggie Appleton</footer>
		</blockquote>
	</section>
	<section>
	<h3>My digital gardens</h3>
	<p><a href="">Kinopio</a> is the space I think of as my digital garden - I love the mind mapping aspect of it and I can't think of anything else on the internet like it.
	Some people find it chaotic, but the way you can "pin" things in a space and link them up is the most intuitive to my brain, and the aesthetic helps a lot too (if things look
    nice, I am more likely to use them).</p>
	<p>As the developer says in <a href="https://pketh.org/hello-kinopio.html">this blog post</a>, Kinopio is designed to "Get the chaotic messy thoughts and ideas out of your head" and it does that for me!</p>
	<ul>
		<li><a href="https://kinopio.club/small-web-opdNIo0qGV1h8fduLKG2u">Small Web</a></li> - my kinopio space where I store small and indie web insp links and resources.
	</ul>
	</section>
{% endblock %}