{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}A nice cup of tea{% endblock %}</h1>
{% endblock %}
{% block content %}
<section>
	<h2>Welcome</h2>
	<img src="{{ url_for('static', filename='images/snorkmaiden_resize.png') }}"></img>
	<div class="image-aside">I'm Helen and this is my personal website - it's a space for tinkering and arranging my collection of thoughts
		and things I find on the internet. Check out the About link above for more about me and this site :)</div>
</section>
<section>
	<div class ="highlight">Totaled my car <span id="targetDate1"> hereismytext </span></div>
	<br>
	<div class ="highlight">Started sertraline <span id="targetDate2"> hereismytext </span></div>
	<br>
	<div class ="highlight">Fred asked me out <span id="targetDate3"> hereismytext </span></div>
	<br>
	<div class ="highlight">Passed my driving test <span id="targetDate4"> hereismytext </span></div>
	<br>
	<div class ="highlight">Last cigarette (roughly) <span id="targetDate5"> hereismytext </span></div>
</section>
<section>
	<h2>Status</h2>
	<script src="https://status.lol/helenffion.js?time&link&fluent&pretty"></script>
</section>
<!-- section>
	<h2>Haiku</h2>
	<blockquote>
		<pre>Over the wintry
	forest, winds howl in rage
	with no leaves to blow.</pre>
		<footer>Natsume Sōseki</footer>
	</blockquote>
</section>
<section>
	<figure>
		<aside>How about an aide to a picture - does that work? I'd like to be able to display a square image in line
			with text nicely. how about if I remove the figure? Or put the saide in the figure?</aside>
		<img src="{{ url_for('static', filename='images/glowing_orb.jpg') }}">
	</figure>
</section -->
{% endblock %}