{% extends 'landing-page-template.html' %}


{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/fortune-cookie.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/fortune-cookie.js') }}"></script>
{% endblock %}

{% block navigation %}
<div><small><a href="{{ url_for('landing_page') }}" title="Home">Home</a></small></div>
{% endblock %}



{% block content %}
<div class="parent">
	<div class="image-child camera">
		<a href="{{ url_for('photos') }}"><img
				src="{{ url_for('static', filename='images/stickers/STK-20240725-WA0002.webp') }}"
				style="transform: rotate(90deg);" class="size-image"></a>
	</div>
	<div class="image-child pumpkin">
		<a href="{{ url_for('spooktober') }}"><img
				src="{{ url_for('static', filename='images/spooktober/pumpkin-2.png') }}" class="size-image"></a>
	</div>
	<div class="image-child book">
		<a href="{{ url_for('sheets') }}"><img src="{{ url_for('static', filename='images/book-1.png') }}"
				class="size-image"></a>
	</div>
	<div class="cookie before">
		<img src="https://bear-images.sfo2.cdn.digitaloceanspaces.com/bluebottles/8aa0feb7-1b0b-4261-a5fc-7a9f2ae0b16d.webp"
			onclick="toggleCookie()">
		<img
			src="https://bear-images.sfo2.cdn.digitaloceanspaces.com/bluebottles/5c382215-059e-4598-9068-6446f60932c2.webp">
		<div class="fortune" onclick="toggleCookie()">☻ Great things are around the corner! ☻</div>
	</div>
</div>
{% endblock %}