
{% extends 'landing-page-template.html' %}


{% block navigation %}
<div><small><a href="{{ url_for('landing_page') }}" title="Home">Home</a> > <a
			href="{{ url_for('landing_page_about') }}" title="About">About</a></small></div>
{% endblock %}




{% block content %}
<div class="about">
	<p>Fun page for messing about.</p>
	<a href="https://lovesick.cafe/grrrl"><img
			src="{{ url_for('static', filename='images/other_sites/madebya-purple3.png') }}"></a>
	<h3>Credits</h3>
	<small>Book image from artworks by <a href="https://www.jessallen.co.uk/artworks/categories/13-2024/">Jess
			Allen</a></small><br>
	<small>Green tea sprite by ConcernedApe via the <a href="https://stardewvalleywiki.com/Green_Tea">Stardew Valley
			wiki</a></small><br>
	<small>Pumpkin png by <a
			href="https://www.tumblr.com/transparensies/681305248762068992/pumpkins-jack-o-lanterns-tip-jar?source=share">transparencies
			on tumblr</a></small><br>
</div>
{% endblock %}