<!DOCTYPE html>
<html>
    <head>
		<title>CSS Example</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
    <body>
		<!-- Side navigation -->
		<div class="sidenav">
		  <a href="/">Home</a>
		</div>

		<!-- Page content -->
		<!-- Page content -->
		<div class="main">
			<div class="post">
				<h1>Week 28/08/2023 - 02/09/2023 &#10024;</h1>
				<p>📖 Reading - The Ragged Trousered Philanphropist</p>
				<p>🎬 Watching - Passages</p>
				<p>🎵 Listening - Aphex Twin</p>
			</div>
			<div class="post">
				<h1>Week 06/07/2023 - 12/08/2023 &#10024;</h1>
				<p>📖 Reading - The Apple</p>
				<p>🎬 Watching - Cade : Tortured Crossing</p>
				<p>🎵 Listening - Nothing</p>
			</div>
			<div class="post">
				<h1>Week 31/07/2023 - 06/08/2023 &#10024;</h1>
				<p>📖 Reading - The Vegetarian</p>
				<p>🎬 Watching - Virgin Suicides, Medusa Dulexe, Tiger Bay</p>
				<p>🎵 Listening - Tribe called quest</p>
			</div>
			<div class="post">
			  <h1>Week 10/07/2023 - 16/07/2023 &#10024;</h1>
			  <p>📖 Reading - With nails</p>
			  <p>🎬 Watching - Irma Vep, No Hard Feelings</p>
			  <p>🎵 Listening - Sol feo, Sonic Youth</p>
		  </div>
      </div>
    </body>
</html>