{% extends 'landing-page-template.html' %}

{% block navigation %}
<div><small><a href="{{ url_for('landing_page') }}" title="Home">Home</a> > <a
	href="{{ url_for('photos') }}" title="Photos">Photos</a></small></div>
{% endblock %}


{% block content %}
	<section>
		This is where I store all the film photos I've developed. 
		I got into film photography when my friend gave me her old camera in 2023 (see the photo nav image!). 
		It's a very basic camera, just a point-and-click.
	</section>
	<section>
			<ul>
				<li><a href="{{ url_for('photos_2026_03_09') }}">Bristol Folk house picture walk, Ilford B&W, March 2026</a></li>
				<li><a href="{{ url_for('photos_2026_01_01') }}">Home, Ilford B&W, January 2026</a></li>
				<li><a href="{{ url_for('photos_2025_09_06') }}">Newcastle, Iford B&W, September 2025</a></li>
				<li><a href="{{ url_for('photos_2025_07_22') }}">Fontanbleau, Kodak Gold, July 2025</a></li>
				<li><a href="{{ url_for('photos_2025_06_25') }}">Hag do, Kodak (?), July 2025</a></li>
				<li><a href="{{ url_for('photos_2025_06_25_2') }}">Copenhagen, Kodak (?), July 2025</a></li>
				<li><a href="{{ url_for('photos_2025_07_03') }}">Bruges, Kodak Gold, July 2025</a></li>
				<li><a href="{{ url_for('photos_2025_02_08') }}">Bristol and Cardiff, Ilford B&W, Febuary 2025</a></li>
				<li><a href="{{ url_for('photos_2024_12_01') }}">Bristol and IoW, B&W, December 2024</a></li>
				<li><a href="{{ url_for('photos_2024_09_27') }}">Bristol, B&W, September 2024</a></li>
				<li><a href="{{ url_for('photos_2024_08_06') }}">Bristol, colour, August 2024</a></li>
				<li><a href="{{ url_for('photos_2024_07_21') }}">Bristol, colour, July 2024</a></li>
				<li><a href="{{ url_for('photos_2024_04_22') }}">Weymouth and Bristol, B&W, April 2024</a></li>
				<li><a href="{{ url_for('photos_2022_10_22') }}">Berlin and Prague, Colour, October 2022</a></li>
			</ul>
		</section>
{% endblock %}