{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Photos{% endblock %}</h1>
{% endblock %}

{% block content %}
	<section>
		<img src="{{ url_for('static', filename='images/stickers/STK-20240725-WA0002.webp') }}" style="float:left; height:100px" alt="cube cinema ticket stubs">
		This is where I store all the film photos I've developed. I got into film photography when my friend gave me her old camera in 2023. It's a very basic camera, just a point-and-click.
		RIP the photos from my scottish trip in 2023, which I exposed when extracting the film.
	</section>
	<section>
		<nav>
			<ul>
				<li><a href="{{ url_for('photos_2024_08') }}">Bristol, colour, August 2024</a></li>
				<li><a href="{{ url_for('photos_2024_07') }}">Bristol, colour, July 2024</a></li>
				<li><a href="{{ url_for('photos_2024_04') }}">Weymouth and Bristol, B&W, April 2024</a></li>
				<li><a href="{{ url_for('photos_2022_10') }}">Berlin and Prague, Colour, October 2022</a></li>
			</ul>
		  </nav>
		</section>
{% endblock %}