{% extends 'landing-page-template.html' %}

{% block header %}
<h1>{% block title %}Photos{% endblock %}</h1>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/photo_grid.css') }}">
{% endblock %}

{% block navigation %}
<a id="top"></a>
<div><small><a href="{{ url_for('landing_page') }}" title="Home">Home</a> > <a href="{{ url_for('photos') }}"
			title="Photos">Photos</a> > <a href="{{ url_for('photos_'+ photos_folder_name ) }}"
			title="Date">{{photos_folder_name}}</a></small></div>
{% endblock %}

{% block content %}
<div>
	{{descriptions[0]}}
</div>
<script src="{{ url_for('static', filename='scripts/photos.js') }}"></script>
<div class="flex-container" id="photo-parent">
	{% for n in indexes_of_displayed_photos %}
	{% if (n < 10) %} {% set n_str='0' + (n | string()) %} {% else %} {% set n_str=n | string() %} {% endif %} {% if
		descriptions|length> 0 %}
		<div style="width:100%; height:700px;display: flex;
  justify-content: center;">
		<img style=" max-width: 100%;" src="{{ url_for('static', filename=root_img_name + n_str + '.jpg') }}"></div>
		<!--script> createDynamicPictureGrid("{{ url_for('static', filename=root_img_name + n_str + '.jpg') }}", '{{ descriptions[n] | safe }}') </script-->
		{% else %}
		<div style="width:100%; height:700px;display: flex;
  justify-content: center;">
		<img style=" max-width: 100%;" src="{{ url_for('static', filename=root_img_name + n_str + '.jpg') }}"></div>
		<!--script> createDynamicPictureGrid("{{ url_for('static', filename=root_img_name + n_str + '.jpg') }}") </script-->
		{% endif %}


		<!--<script> createDynamicPictureGrid("{{ url_for('static', filename=root_img_name + n_str + '.jpg') }}") </script>
	 <div class="photo">
			<img src="{{ url_for('static', filename=root_img_name + n_str + '.jpg') }}"></img> 
			<span>

			</span>
	</div> -->
		{% endfor %}
</div>
{% endblock %}

{% block footer %}
<!--content here-->
<a href="#top">Back to top</a>
{% endblock %}