{% extends 'landing-page-template.html' %}

{% block header %}
  <h1>{% block title %}Photos{% endblock %}</h1>
{% endblock %}

{% block navigation %}
<div><small><a href="{{ url_for('landing_page') }}" title="Home">Home</a> > <a
	href="{{ url_for('photos') }}" title="Photos">Photos</a> > <a
	href="{{ url_for('photos_'+ photos_folder_name ) }}" title="Date">{{photos_folder_name}}</a></small></div>
{% endblock %}

{% block content %}
<div style="display: flex;
flex-flow: row wrap;" id="flex-box-container"> 
	{% for n in indexes_of_displayed_photos %}
	{% if (n < 10) %}
		{% set n_str =  '0' + (n | string()) %}
	{% else  %}
		{% set n_str = n | string() %}
	{% endif %}
	<section class="flex-photo">
		<figure>
			<img class="vert-img" src="{{ url_for('static', filename=root_img_name + n_str + '.jpg') }}"></img>
			<figcaption>
				{% if descriptions|length > 0 %}
					{{ descriptions[n-1] |safe }}
				{% endif %}
			</figcaption>
		</figure>
	</section>
	{% endfor %}
</div>
{% endblock %}