{% extends 'landing-page-template.html' %}

{% block header %}
<h1>{% block title %}Photos{% endblock %}</h1>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/photo_grid.css') }}">
{% endblock %}

{% block navigation %}
<a id="top"></a>
<div><small><a href="{{ url_for('landing_page') }}" title="Home">Home</a> > <a href="{{ url_for('photos') }}"
			title="Photos">Photos</a> > <a href="{{ url_for('photos_'+ photos_folder_name ) }}"
			title="Date">{{photos_folder_name}}</a></small></div>
{% endblock %}

{% block content %}
<div class="description">
	{{descriptions[0]}}
</div>
<div class="flex-container" id="photo-parent">
	{% for file_path in image_list %}
	<div class="photo-and-caption">
		<div class="photo-container">
			<img class="cover" src="{{ url_for('static', filename=file_path) }}">
		</div>
		<div class="caption">
			{% if descriptions|length > 0 %}
			<p>{{ descriptions[loop.index] | safe }}</p>
			{% else %}
			<p></p>
			{% endif %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block footer %}
<!--content here-->
<a href="#top">Back to top</a>
{% endblock %}