<!DOCTYPE html>
<html>
    <head>
		<title>CSS Example</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<script type="text/javascript">
	  var imageURLs = [
		   "http://www.myserver.com/images/image1.png"
		 , "http://www.myserver.com/images/image2.png"
		 , "http://www.myserver.com/images/image3.png"
	  ];
	  function getImageTag() {
		var img = '<img src=\"';
		var randomIndex = Math.floor(Math.random() * imageURLs.length);
		img += imageURLs[randomIndex];
		img += '\" alt=\"Some alt text\"/>';
		return img;
	  }
	</script>
    <body>
		<!-- Side navigation --> 
		<div class="sidenav">
		  <a href="/">Home</a>
		</div>

		<!-- Page content -->
		<div class="post">
		  <img src="{{ url_for('static', filename='images/PXL_20230705_123303815.jpg') }}"></img>
		</div>
		<div class="post">
		  <!-- this currently just reloads the page -->
		  <a href="/slideshow">Reload image</a> 
		</div>
    </body>
</html>